<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Manage {{findSelectedOrganization().name}}</h3>
  </div>

  <div class="panel-body">

    <alerts seconds="45" channels="organization/update, organization/delete" types="SUCCESS, INVALID"></alerts>

    <div>DEBUG: selectedOrganization: {{selectedOrganization}}<hr>findSelectedOrganization(): {{findSelectedOrganization()}}</div>

    <form ng-submit="updateOrganization(findSelectedOrganization())" name="forms.update" novalidate>

      <validationmessage results="findSelectedOrganization().getValidationResults()"></validationmessage>

      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-6">

            <validatedinput
              no-id="true"
              label="Organization Name"
              model="findSelectedOrganization()"
              property="name"
              form="forms.update"
              validations="findSelectedOrganization().getValidations()"
              results="findSelectedOrganization().getValidationResults()">
            </validatedinput>

            <validatedselect
              no-id="true"
              label="Category"
              options="organizationCategories"
              optionproperty="name"
              model="findSelectedOrganization()"
              property="category"
              form="forms.update"
              validations="findSelectedOrganization().getValidations()"
              results="findSelectedOrganization().getValidationResults()">
            </validatedselect>

            <toggleButton
              label="Organization accepts Submissions?"
              scope-value="organizationRepo.findSelectedOrganization().acceptsSubmissions"
              toggle-options="{{acceptsSubmissions}}">
            </toggleButton>

          </div>

          <div class="col-xs-6">

            <validatedinput
              no-id="true"
              label="Email Contact"
              model="findSelectedOrganization()"
              property="emails"
              form="forms.update"
              validations="findSelectedOrganization().getValidations()"
              results="findSelectedOrganization().getValidationResults()"
              repeatable="true">
            </validatedinput>

          </div>
        </div>

        <hr />

        <div class="row">
          <div class="pull-right">
            <span uib-popover="This organization contains submissions and cannot be deleted." popover-trigger="'mouseenter'" popover-enable="deleteDisabled">
              <button
                ng-if="findSelectedOrganization().id !== 1"
                type="button"
                class="btn btn-danger"
                ng-style="{'pointer-events':deleteDisabled ? 'none' : ''}"
                ng-disabled="deleteDisabled"
                ng-click="openModal('#organizationConfirmDeleteModal')">Delete Organization</button>
            </span>
            <button
              type="button"
              class="btn btn-default"
              ng-click="resetManageOrganization()"
              ng-disabled="updatingOrganization">Cancel</button>
            <button
              type="submit"
              class="btn btn-primary"
              ng-disabled="forms.update.$invalid || updatingOrganization">Save
              <span ng-if="updatingOrganization" class="glyphicon glyphicon-refresh spinning"></span>
            </button>
          </div>
        </div>

      </div>

    </form>

    <modal modal-id="organizationConfirmDeleteModal"
      modal-view="views/modals/organization/organizationConfirmDeleteModal.html"
      modal-header-class="modal-header-danger"
      wvr-modal-backdrop="static">
    </modal>

  </div>

</div>
